.admin-list {
  position: relative;
  top: -1.25rem; /* -20px */
  width: 50rem; /* 800px */
  margin: 0 auto;
  padding: 1.25rem; /* 20px */
  background-color: #f9f9f9;
  border-radius: 0.625rem; /* 10px */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  font-size: 1.25rem; /* 20px */
}

.admin-list h4 {
  margin-top: 0;
  text-align: center;
  color: white;
  font-size: 1.5rem; /* 24px */
  margin-bottom: 1.25rem; /* 20px */
  background-color: rgb(31, 31, 132);
  padding: 0.625rem; /* 10px */
  border-radius: 0.625rem;
}

.admin-list ul {
  list-style: none;
  padding: 0;
}

.admin-list li {
  padding: 0.625rem 0; /* 10px */
  border-bottom: 0.0625rem solid #ccc; /* 1px */
}

.admin-list h5 {
  margin: 0;
  padding: 0.625rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem; /* 8px */
  text-align: left;
  font-weight: bold;
  font-size: 1.125rem; /* 18px */
  color: rgb(31, 31, 132);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.admin-list a {
  text-decoration: none;
}
