.mydate {
  display: flex;
  align-items: center;
}

.k-dateinput-wrap {
  flex: 1;
}

.k-datepicker .k-input {
  width: 100%; /* Set the width of the input to 100% */
  padding: 0.625rem; /* 10px */ 
  height: 1.5625rem; /* 25px */
  border: 0.0625rem solid #ccc; /* 1px */
  border-radius: 0.25rem; /* 4px */
  font-size: 0.875rem; /* 14px */
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.k-datepicker .k-picker-wrap {
  margin-left: -0.625rem; /* -10px */
}

.k-datepicker .k-icon {
  font-size: 1.25rem; /* 20px */
  color: #999; /* Set the color of the calendar icon */
}

.k-datepicker .k-icon:hover {
  color: rgb(31, 31, 132); /* Change the color on hover */
  cursor: pointer; /* Add a pointer cursor on hover */
}

.k-input:focus {
  outline: none;
  border-color: rgb(31, 31, 132);
  box-shadow: 0 0 0.3125rem rgba(31, 31, 132, 0.5);
}

.k-input.error {
  border-color: red;
}

.k-input.error:focus {
  border-color: red;
}
